.form-content {
  background: linear-gradient(to top, white, var(--COLOR-PRIMARY-XLIGHT));
}

.dark .form-content {
  background: transparent;
}

.login-actions {
  justify-content: space-between;
  max-width: 40rem;
  margin: 2rem auto
}

.card {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}