.score-page {
  min-height: 72vh;
}

.option-header {
  background: var(--COLOR-PRIMARY-LIGHT);
}

.option p {
  padding: 0 0.5rem;
}

.dark .option-header {
  background: var(--COLOR-PRIMARY-XXXDARK);
}

.score-bar {
  width: 90%;
  min-height: 6rem;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 450px) {
  .date-field {
    display: none;
  }
}
