@import url("utils/font.css");
@import url("utils/header.css");
@import url("component/browse-quiz.css");
@import url("component/login.css");
@import url("component/quiz-content.css");
@import url("component/score.css");

.card-btn:hover,
.card-icon-btn:hover {
  color: var(--COLOR-PRIMARY);
  background: var(--COLOR-COMPLEMENTARY-XLIGHT);
}

.heart-btn {
  position: absolute;
  left: 85%;
  top: 2%;
  color: var(--COLOR-COMPLEMENTARY-DARK);
  background: transparent;
}

.card-img {
  height: 30vh;
  object-fit: fill;
}

.card-header-text {
  padding: 2rem 2rem 0 2rem;
}

.games-grid {
  justify-items: center;
  background: transparent;
}

.dark .footer-icon {
  color: white;
}

.footer-icon:hover {
  color: var(--COLOR-COMPLEMENTARY);
}

.m-b-2 {
  margin-bottom: 2rem;
}

.eye-icon {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.form-validated .eye-icon {
  top: 38%;
}

@media screen and (max-width: 400px) {
  .quiz-footer {
    flex-wrap: wrap;
  }
}
